/* 
Styling Sheet for the navbar that is present throughout the site
*/


.navbar {
    position: fixed;
}

#navbar_links {
    text-align: center;
    font-size: 16px;
    margin-top: 0.10em;
    margin-left: 6.5em;
}

#nioh1_logo {
    margin-right: 0.15em;
    position: relative;
    top: -7px
}
