/* CSS for divine_beasts.html */


.flex-paragraph {
    align-self: flex-start;
}

.beast-section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 2em;
}

.beast-card {
    min-width: 510px;
    max-width: 510px;
}

.main-logo {
    border-radius: 5%;
}

.beast-card > table {
    min-width: 510px;
    max-width: 510px;
    
    min-height: 750px;
    max-height: 750px;

    border: solid black 3px;
}


/* 
========= ========= =========
Media Query
========= ========= =========
*/
@media screen and (max-width: 1000px) {
    .beast-card {
        min-width: auto;
        max-width: max-content;

        min-height: auto;
        max-height: max-content;
    }

    .beast-card > table {
        min-width: auto;
        max-width: max-content;

        min-height: auto;
        max-height: max-content;
    }
}
