/* 
Styling Sheet for Nioh1_Index.html 
*/

.btn-group {
    margin-right: 0.25em;
    margin-left: 0.25em;
}

.btn-primary {
    text-align: center;
    width: 175px;
    font-size: 16px;
    margin-top: 0.25em;
    margin-bottom: 0.20em;
    margin-right: 0.275em;
}
