/* 
Styling Sheet for index.html  
*/

body {
    background-image: url("Home_Page_Images/Nioh_Front_Page_Background_Adjusted.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 30em;
}

#Nioh_Logo {
    padding-left: 10em;
    padding-right: 17em;
}

#Nioh2_Logo {
    padding-left: 14em;
}
