/*
Styling Sheet for Game_Settings.html 
*/


#title_text {
    margin-left: 24em;
    padding-top: 0.25em;
}

.jumbotron {
    margin-left: 7.5em;
    margin-right: 7.5em;
}

p {
    font-size: 16.5px;
}
