/* Styling sheet for missions_index.html */


td img {
    padding-top: 0.2em;
}

p a {
    font-weight: bold;
}

td a {
    font-weight: bold;
}


/* 
========== ========== ==========
Special CSS for TD element
========== ========== ==========
*/
.flex-table {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h5 {
    margin-top: 1.5em;
}
