/* 
Styling Sheet for Nioh2_Index.html 
*/


.btn-group {
    text-align: center;
    width: 177px;
    font-size: 16px;
    margin-right: 0.10em;
    margin-left: 0.10em;
    margin-top: 0.25em;
}

#navbar_links {
    text-align: center;
    font-size: 16px;
    margin-top: 0.10em;
}

#nioh1_logo {
    margin-right: 0.25em;
    position: relative;
    top: -7px
}

#builds_button {
    margin-left: 16.20em;
}

