/* Style Sheet for test.html */


/* Box Model hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;    
    
    /* Google Fonts */
    font-family: 'Roboto', sans-serif;
    
    background: rgba(52, 58, 64, 255);
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

#nioh2-logo {
    width: 12%;
    height: auto;
}

nav a:hover {
    background: rgb(208, 211, 212);
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

nav li:hover .submenu-1 > li {
    display: block;
    flex-direction: column;
    top: 0px;
}

.submenu-1 a {
    height: 2.7rem;
}

.submenu-1 li {
    display: none;
    position: relative;
    top: 0px;
}

.submenu-1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;

    
}


