/* Styling Sheet for test.html */


/* Box Model hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-height: 4rem;
    
    /* Google Fonts */
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;

    background-color: rgba(52,58,64,255);
}

.container-flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.container-flex-row > img {
    width: 32%;
    height: auto;
}

/* overwrite the max-width on the flex container */
.container-flex-row {
    max-width: 200px;
}

.nav-links {
    text-decoration: none;
    color: white;
}

#nav-home-link {
    margin-right: 1em;
}

#nav-credit-link {
    margin-left: 1em;
}
