/*
Styling Sheet for Clans.html 
*/


#title_text {
    margin-top: 0.5em;
    text-align: center;
}

#table_of_contents {
    margin-left: 6.0em;
}

.jumbotron {
    margin-left: 6.0em;
    margin-right: 6.0em;
}

#back_to_top_button {
    position: fixed;
    bottom: 20px;
    right: 25px;
    margin-bottom: 1em;
    text-align: center;
    font-size: 16px; 
}
