/* Styling sheet for index_test.html */


body {
    background-image: url("https://liukang1080.github.io/Nioh_Website/nioh2/img/index_background_image.jpg");
    /* background-image: url(../img/index_background_image.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#first-section {
    margin-top: 20em;
}

.container-fluid {
    /* flexbox */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5em;
}

.btn-group {
    /* sizing / positioning */
    width: 190px;
    
    /* general */
    text-align: center;
}

.btn-warning {
    font-size: 16px;
}
